.places__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

@media screen and (max-width: 1140px) {
  .places__image {
    height: 90%;
  }
}

@media screen and (max-width: 984px) {
  .places__image {
    height: 95%;
  }
}

@media screen and (max-width: 568px) {
  .places__image {
    height: 80%;
    grid-area: 'image';
  }
}