.content {
  max-width: 1280px;
  min-width: 320px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 85px 0;
  row-gap: 138px;
}

@media screen and (max-width: 984px) {
  .content {
    row-gap: 128px;
  }
}