.content__intro {
  box-sizing: border-box;
  width: 100%;
  padding: 0 165px 0 70px;
}

@media screen and (max-width: 1140px) {
  .content__intro {
    padding: 0 70px 0 40px;
  }
}

@media screen and (max-width: 984px) {
  .content__intro {
    padding: 0 30px 0 20px;
  }
}