.intro__image {
  width: 350px;
  height: 350px;
  object-fit: cover;
  object-position: center center;
}

@media screen and (max-width: 984px) {
  .intro__image {
    height: 250px;
    width: 300px;
  }
}