.footer__cover {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__cover:hover::before {
    content: "за 500 руб победим?=)";
    font-size: 50px;
    color: #fff;
    background-color: #fdcda7;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s linear;
  }

  @media screen and (max-width: 568px) {
    .footer__cover:hover::before {
      font-size: 25px;
    }
  }