.content__feedback {
  box-sizing: border-box;
  width: 100%;
  padding: 0 70px;
}

@media screen and (max-width: 1140px) {
  .content__feedback {
    padding: 0 40px;
  }
}

@media screen and (max-width: 984px) {
  .content__feedback {
    padding: 0 20px;
  }
}

@media screen and (max-width: 568px) {
  .content__feedback {
    padding: 0 16px;
  }
}