.places__item {
  display: grid;
  background-color: #f1f1f1;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(400px, 535px);
  box-sizing: border-box;
}

@media screen and (max-width: 984px) {
  .places__item {
    grid-template-rows: minmax(220px, 355px);
  }
}

@media screen and (max-width: 568px) {
  .places__item {
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "paragraph"
    "image";
  }
}